# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Environments
.venv/
.env/

# Local data
.vaultlet/
.vaultlet/*
.history.db
history.csv

# OS
.DS_Store
Thumbs.db